
    <header style='background-color:black; color:white; text-align: center;margin: auto;'>
        <h1>Live Weather App</h1>
    </header>
    <div style='margin:auto; width: 364px;border: 4px solid;border-radius: 5px;margin-top: 4rem;'>
        <div style='text-align: center;'>
            <h1>The tempreture in <%=  query %> is <%= + tempreture %> degrees celcius</h1>
            <p>The weather is currently <%=  desc %> </p>
            <img src= <%= image %> />
        </div>
    </div>


